My workflow (2).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4d7c80f4-1418-48d5-ad6b-dd9592b2dcfa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "You are an AI News Assistant.\n\nUse all available RSS feed tools to fetch the latest news.\n\nRead the articles from the RSS feeds and create a daily news digest.\n\nInstructions:\n1. Always use the RSS tools before generating a response.\n2. Collect the latest articles from all RSS feeds.\n3. Remove duplicate stories.\n4. Select the 5-10 most important news articles.\n5. Categorize them into:\n   - sports\n   - latest news\n   - entertainment\n6. For each article provide:\n   - Headline\n   - Summary\n7. Rank articles by importance.\n8. Generate a clean email-ready report.\n\nOutput format:\n\n📰 Daily News Digest\n\n## Sports\n- Headline\n  summary\n\n## Latest News\n- Headline\n  summary\n\n## Entertainment\n- Headline\n  summary\n\nEnd with:\nHave a great day!!! ",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "101a99e9-3d6d-4102-822a-3f32f091cbd3",
      "name": "AI Agent",
      "retryOnFail": false
    },
    {
      "parameters": {
        "sendTo": "dalvisrushti7@gmail.com",
        "subject": "Daily News Digest",
        "emailType": "text",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        944,
        0
      ],
      "id": "d4cb04a4-d5a4-4909-8e9e-141ac323a5c2",
      "name": "Send a message",
      "webhookId": "e842e6ab-e68d-4cef-81a9-6c1e006a4681",
      "credentials": {
        "gmailOAuth2": {
          "id": "CGmFOA93CYJb08ha",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "use this tool to fetch the latest sports news",
        "url": "https://feeds.bbci.co.uk/sport/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        576,
        208
      ],
      "id": "549422e2-18f2-478b-b336-3e323b12b8d4",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "toolDescription": "use this tool to fetch the latest general news headlines",
        "url": "https://feeds.bbci.co.uk/news/rss.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        672,
        304
      ],
      "id": "ab2d4d83-f2d3-4109-93e9-3dc9d2bf9769",
      "name": "RSS Read1"
    },
    {
      "parameters": {
        "toolDescription": "use this tool to fetch the latest entertainment news",
        "url": "https://variety.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedReadTool",
      "typeVersion": 1.2,
      "position": [
        768,
        240
      ],
      "id": "6f5e9189-41e2-4098-86a6-d7f344f6f317",
      "name": "RSS Read2"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        192,
        256
      ],
      "id": "7c6f1a4e-9b6e-4eca-89b2-6055a339af09",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "03qLvk48GGwhxf3C",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read2": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "75d9061e-26ba-49e3-b0f8-905ebd6ca604",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e8d563972f4d3e61d7c791d4f0c3b9f819acf86f7853f8ccfd5cffccfd4dbeba"
  },
  "nodeGroups": [],
  "id": "jbyIFnXLdcxXJRTS",
  "tags": []
}